<html lang="en">
<head>
    <meta charset="utf-8">
    <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame Remove this if you use the .htaccess -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Cache-Control" content="no-cache,no-store,must-revalidate">
    <meta name="robots" content="noindex">
    <title>Evgeni Gordeev - Resume</title>
    <meta name="description" content="Evgeni Gordeev's Resume">
    <meta name="author" content="Evgeni Gordeev">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--very verbose favicon-->
    <link rel="apple-touch-icon" sizes="57x57" href="icons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="icons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="icons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="icons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="icons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="icons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="icons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="icons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="icons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="icons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="icons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="icons/favicon-16x16.png">
    <link rel="manifest" href="icons/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="icons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <!--end: very verbose favicon-->

    <!--    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">-->
    <!--    get rid of media print in the default bootstrap-->
    <link href="css/bootstrap-v3.4.1.min.css" rel="stylesheet">
    <link href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="css/all.css?version=0002" rel="stylesheet" media="all">
    <script>
        if (window.location.search.indexOf('?print') === 0)
            document.write('<link href="css/print.css?version=0002" rel="stylesheet" media="all">');
    </script>
    <link href="css/print.css?version=0002" rel="stylesheet" media="print">

    <!-- Angular Material style sheet -->
    <link href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900italic,900" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="css/material.css?version=0002">
</head>
<body class="content" ng-app="ResumeApp" ng-cloak>
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span
                class="icon-bar"></span> <span
                class="icon-bar"></span></button>
            <a class="navbar-brand" href="#">Evgeni Gordeev</a></div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="http://www.linkedin.com/in/egordeev" target="_blank"><i class="fa fa-linkedin-square"></i>LinkedIn</a>
                </li>
                <li><a href="downloads/Evgeni_Gordeev_CV.pdf?version=0002" target="_blank"><i class="fa fa-download"></i>Download as
                    PDF</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse --> </div>
</nav>
<div class="container">
    <div class="row">
        <h2 class="text-center">Evgeni Gordeev</h2>
    </div>
    <div class="row">
        <div class="web col-md-3 col-sm-4 col-xs-4">
            <img class="img-thumbnail img-responsive" alt="Evgeni Gordeev" title="Evgeni Gordeev" src="images/Evgeni_Gordeev.png">
        </div>
        <div class="print col-md-3 col-sm-4 col-xs-4">
            <img class="img-thumbnail img-responsive photo" alt="Evgeni Gordeev" title="Evgeni Gordeev" src="images/Evgeni_Gordeev.jpg">
        </div>
        <div class="col-md-9 col-sm-8 col-xs-12">

            <h3>Principal Engineer</h3>
            <h4><i>Java | DevOps | AWS | Kubernetes</i></h4>

            <p><span><i class="fa fa-home"></i></span><span>Eden Prairie, MN</span></p>

            <p>
                <span><i class="fa fa-envelope"></i></span><span><a href="mailto:evgeni.gordeev@gmail.com" target="_blank">evgeni.gordeev@gmail.com</a></span>
            </p>

            <p><span><i class="fa fa-phone"></i></span><span><a href="tel:+16123520233">(612) 352-0233</a></span></p>
            <p><span><i class="fa fa-github"></i></span><span><a href="https://github.com/EvgeniGordeev">https://github.com/EvgeniGordeev</a></span></p>

            <p class="print">
                <span><i class="fa fa-anchor"></i></span><span><a href="https://evgenigordeev.github.io/resume/" target="_blank">https://evgenigordeev.github.io/resume/</a></span>
            </p>
            <p class="print">
                <span><i class="fa fa-linkedin" aria-hidden="true"></i></span><span><a href="https://www.linkedin.com/in/egordeev" target="_blank">https://www.linkedin.com/in/egordeev</a></span>
            </p>

        </div>
    </div>
    <div class="row">
        <div class="col-md-12"><h2 class="category"><i class="fa fa-eye"></i> Summary</h2></div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-md-12" role="main">
            <div class="bs-docs-section">
                <p>
                    I am a leader/doer with 10+ years of full-stack development experience proved by Sun/Oracle/Amazon
                    certificates and expertise in the design, development and deployment of enterprise-level N-tier
                    architecture utilizing Java/Python/Kubernetes/AWS.
                </p>
                <p>I am passionate for designing and building scalable solutions for a diverse set of business domains.
                </p>
                <p>
                    My thorough technical background is combined with managerial talents and proven abilities to
                    facilitate multidisciplinary project teams in accomplishing strategic goals.
                </p>
                <ul>
                    <li>
                        Proven experience with software in a customer facing role
                    </li>
                    <li>
                        Designing/operating solutions built on AWS and on-premise
                    </li>
                    <li>
                        Performing all phases of software engineering including requirements analysis, application
                        design, code development and testing
                    </li>
                    <li>Architectural assessment of legacy applications</li>
                    <li>Providing technical support to Sales Team</li>
                    <li>
                        Executing design and code reviews
                    </li>
                    <li>
                        Ensuring that uniform enterprise-wide application design standards are maintained
                    </li>
                    <li>
                        Collaborating with other stakeholders to ensure architecture is aligned with business
                        requirements
                    </li>
                    <li>
                        Mentoring junior team members by providing technical guidance
                    </li>
                    <li>
                        Interviewing, evaluating, training and hiring staff
                    </li>
                    <li class="lost-kitten">
                        Will climb the tree with a lost kitten
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-md-12"><h2 class="category"><i class="fa fa-keyboard-o"></i> Skills & Expertise</h2></div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-md-12">
            <p id="skills">
                <button type="button" class="btn btn-primary btn-lg">AWS</button>
                <button type="button" class="btn btn-primary btn-lg">Kubernetes</button>
                <button type="button" class="btn btn-primary btn-lg">DevOps</button>
                <button type="button" class="btn btn-primary btn-lg">Java</button>
                <button type="button" class="btn btn-primary btn-lg">Spring Boot</button>
                <button type="button" class="btn btn-primary btn-lg">Spring</button>
                <button type="button" class="btn btn-primary btn-lg">Shell</button>
                <button type="button" class="btn btn-info">Hibernate</button>
                <button type="button" class="btn btn-info">Maven</button>
                <button type="button" class="btn btn-info">GitLab</button>
                <button type="button" class="btn btn-info">NodeJS</button>
                <button type="button" class="btn btn-info">MySQL</button>
                <button type="button" class="btn btn-info">Jenkins</button>
                <button type="button" class="btn btn-info">Oracle DB</button>
                <button type="button" class="btn btn-info">Tomcat</button>
                <button type="button" class="btn btn-info">JBoss AS</button>
                <button type="button" class="btn btn-info">WildFly</button>
                <button type="button" class="btn btn-info">Jetty</button>
                <button type="button" class="btn btn-success">Javascript</button>
                <button type="button" class="btn btn-success">JQuery</button>
                <button type="button" class="btn btn-success">HTML5</button>
                <button type="button" class="btn btn-success">CSS3</button>
                <button type="button" class="btn btn-success">Bootstrap</button>
                <button type="button" class="btn btn-success">REST</button>
                <button type="button" class="btn btn-warning">Intellij IDEA</button>
                <button type="button" class="btn btn-warning">Eclipse</button>
                <button type="button" class="btn btn-warning">Jira</button>
                <!--                <button type="button" class="btn btn-warning">Crucible/Fisheye</button>-->
                <button type="button" class="btn btn-warning">JIRA</button>
                <button type="button" class="btn btn-default btn-sm">AngularJS</button>
                <button type="button" class="btn btn-default btn-sm">Git</button>
                <button type="button" class="btn btn-default btn-sm">CVS</button>
                <button type="button" class="btn btn-default btn-sm">SVN</button>
            </p>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-md-12"><h2 class="category"><i class="fa fa-file-text"></i> Work Experience</h2></div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-md-3"><p class="lead date"> June 2017 - Present </p></div>
        <div class="col-md-9"><p class="lead"> Principal Engineer </p>
            <dl class="dl-horizontal jobdetails">
                <dt> Company</dt>
                <dd><a href="https://conservis.ag">Conservis</a></dd>
            </dl>
            <h4 class='hidden-xs'>In charge of</h4>
            <ul>
                <li> Architectural long-term direction</li>
                <li> AWS infrastructure</li>
                <li> CI/CD set up and guidelines</li>
                <li> Integration and refactoring</li>
                <li> QA Automation oversight</li>
                <li> 3rd party dependencies upgrade</li>
                <li> Open source contribution</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" href="#collapsePlt"> Platform - RowCrop & PermCrop </a>
                    </h4></div>
                <div id="collapsePlt" class="panel-collapse collapse">
                    <div class="panel-body"><p>
                        <a target="_blank" href="https://conservis.ag/farm-management-software/row-crop-management-software/"> Row Crop</a> is a Farm Management System
                        to track various crops throughout different stages - Production, Planning, Harvest.
                        <ul>
                            <li> Infrastructure-as-a-Code implementation</li>
                            <li> 3rd party libraries upgrade</li>
                            <li> DevOps & Reliability support</li>
                            <li> Monolith decomposition</li>
                            <li> Service Discovery implementation</li>
                            <li> SSO Identity</li>
                        </ul>
                        <h5><i class="fa fa-cogs"></i>Environment</h5>
                        <dl class="dl-horizontal">
                            <dt> Tools</dt>
                            <dd> GitLab, AWS, Kubernetes</dd>
                            <dt> Techs</dt>
                            <dd> Spring Boot, ReactJS, Django
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3"><p class="lead date"> July 2014 - June 2017 </p></div>
        <div class="col-md-9"><p class="lead"> Application Architect </p>
            <dl class="dl-horizontal jobdetails">
                <dt> Company</dt>
                <dd><a href="http://coherentsolutions.com">Coherent Solutions Inc.</a></dd>
            </dl>
            <h4 class='hidden-xs'>Responsibilities</h4>
            <ul>
                <li> Performing all phases of software engineering including requirements analysis, application design,
                    code development and testing
                </li>
                <li> Architectural assessment of legacy applications</li>
                <li> Providing technical support to Sales Team</li>
                <li> Implementing POC applications</li>
                <li> Expanding DevOps practices</li>
                <li> Responsible for Continuous Integration/Continuous Delivery</li>
                <li> Setting code quality standards</li>
                <li> Managing team, mitigating risks and issues</li>
                <li> Reviewing code and providing feedback relative to best practices</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" href="#collapseSmn"> ServeMinnesota - RCDMS </a>
                    </h4></div>
                <div id="collapseSmn" class="panel-collapse collapse">
                    <div class="panel-body"><p>
                        <a target="_blank" href="http://www.readingcorps.org/"> Reading Corps</a> is a breakthrough
                        program that is changing academic outcomes for thousands of
                        students. With more than 1,500 tutors serving in eight states and Washington D.C., Reading Corps
                        is helping more than 36,000 children each year become successful readers.
                        <ul>
                            <li> Designed the architecture</li>
                            <li> Prepared project structure</li>
                            <li> Set up Continuous Integration/Continuous Delivery</li>
                        </ul>
                        <h5><i class="fa fa-cogs"></i>Environment</h5>
                        <dl class="dl-horizontal">
                            <dt> Tools</dt>
                            <dd> GitHub, Amazon Web Services, Docker</dd>
                            <dt> Techs</dt>
                            <dd> Spring Boot, JHipster, Spring Security, AngularJS, NodeJS, Hibernate, REST API
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" href="#collapseElem"> Element Consulting </a>
                    </h4></div>
                <div id="collapseElem" class="panel-collapse collapse">
                    <div class="panel-body"><p> Element Consulting together with
                        <a href="https://www.tcomn.com/" target="_blank">Twin Cities Orthopedics</a> are creating an
                        application to
                        leverage
                        Bundle Payments for Care Improvement initiative. </p>
                        <ul>
                            <li> Designed the architecture</li>
                            <li> Prepared project structure</li>
                            <li> Set up Continuous Integration</li>
                            <li> Executed code reviews</li>
                        </ul>
                        <h5><i class="fa fa-cogs"></i>Environment</h5>
                        <dl class="dl-horizontal">
                            <dt> Tools</dt>
                            <dd> BitBucket, Amazon Web Services, Docker</dd>
                            <dt> Techs</dt>
                            <dd> Spring Boot, JHipster, Spring Security, AngularJS, NodeJS, Hibernate, LiquiBase, REST
                                API
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading"><h4 class="panel-title"><a data-toggle="collapse" href="#collapseGraco">
                    Graco/Matrix</a></h4></div>
                <div id="collapseGraco" class="panel-collapse collapse">
                    <div class="panel-body"><p><a href="http://www.graco.com/" target="_blank">Graco</a> provides
                        products for painting, anti-corrosion, fluid transfer, gluing and sanitary
                        applications for markets like automotive, aeronautic,
                        body refinishing, wood, build and construction, and marine. Distribution is done via a global
                        network of equipment dealers and retail stores. </p>

                        <p> Matrix Total Fluid Management System provides automated tracking and monitoring plus
                            state-of-the-art dispensing for complete control of your fluid inventory. Save
                            time,
                            gain billable hours and maximize your fixed
                            operation's profitability with Matrix. System components include management software,
                            Transceiver, Matrix Meter, Pump Air Control (PAC) and Tank Level Monitor (TLM).
                            Together, these components wirelessly talk to each other
                            through an RF signal to collect data from fluid dispenses, levels in bulk oil and waste
                            tanks.</p>
                        <ul>
                            <li> Refactored old code basis to adhere to modern know-hows and frameworks</li>
                            <li> Was implementing and leading the effort from Swing to Web UI, Spring 2 to Spring Boot
                            </li>
                            <li> Set up Continuous Integration</li>
                            <li> Executed code reviews</li>
                        </ul>
                        <h5><i class="fa fa-cogs"></i>Environment</h5>
                        <dl class="dl-horizontal">
                            <dt> Tools</dt>
                            <dd> MySQL, SVN, GitHub, Jetty, Maven, Ant, Bamboo, Jira</dd>
                            <dt> Techs</dt>
                            <dd> Servlets, Spring Boot, Spring IOC, Spring security, Hibernate, AngularJS, NodeJS,
                                Bootstrap
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading"><h4 class="panel-title"><a data-toggle="collapse" href="#collapstNmdp">
                    NMDP </a></h4></div>
                <div id="collapstNmdp" class="panel-collapse collapse">
                    <div class="panel-body"><p><a href="https://bethematch.org/" target="_blank">National Marrow Donor
                        Program (NMDP)</a> also known as Be The Match® is a global leader in bone
                        marrow
                        transplantation. They conduct research to improve
                        transplant outcomes provide support and resources for patients, and partner with a global
                        network. </p>

                        <p> Evgeni was leading effort of providing architectural assessment of several projects
                            implemented in-house. A detailed system review was conducted including static and
                            manual
                            code analysis, identifying possible refactoring/improvements areas, evaluating adherence of
                            the code basis to best development practices. </p> <h5><i
                            class="fa fa-cogs"></i>Environment</h5>
                        <dl class="dl-horizontal">
                            <dt> Tools</dt>
                            <dd> Maven, SonarQube, FindBugs, Check, PMD, Code Coverage</dd>
                            <dt> Techs</dt>
                            <dd> J2EE/Servlets/JSP, Spring, Spring Security, Oracle</dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3"><p class="lead date"> June 2011 - June 2014 </p></div>
        <div class="col-md-9"><p class="lead"> Team Lead </p>
            <dl class="dl-horizontal jobdetails">
                <dt> Company</dt>
                <dd><a href="http://coherentsolutions.com">Coherent Solutions Inc.</a></dd>
            </dl>
            <h4 class='hidden-xs'>Responsibilities</h4>
            <ul>
                <li> Performing design, development, legacy maintenance and bug fixing;</li>
                <li> Managing team, tracking progress of task completion, milestones, action items, risks, issues,
                    conducting update meetings
                </li>
                <li> Executing code review and staff mentoring</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading"><h4 class="panel-title"><a data-toggle="collapse" href="#collapseOne"> API
                    Outsourcing </a></h4></div>
                <div id="collapseOne" class="panel-collapse collapse">
                    <div class="panel-body"><p> API Outsourcing is a Finance and Accounting Outsourcing (FAO) company
                        which offers a wide breadth of services for accounts payable, document
                        management
                        and bill presentment needs. Their system product
                        provides standardized workflow to manage documents, accounts payables / receivables. </p>
                        <ul>
                            <li> Developed Web Form feature (flexible configurable screen configuration to create/update
                                new POJO entities added on the fly)
                            </li>
                            <li> Implemented HTML5 responsive design (one application aimed on multiple (desktop and
                                mobile) platforms)
                            </li>
                            <li> Implemented UI cached navigation for tables to gain performance</li>
                            <li> Enhanced screen form configuration with inheritance</li>
                            <li> Forked 3rd party open-source library Hibernate Audit with custom features and fixes
                            </li>
                        </ul>
                        <h5><i class="fa fa-cogs"></i>Environment</h5>
                        <dl class="dl-horizontal">
                            <dt> Tools</dt>
                            <dd>MySQL 5.6, CVS, Jboss AS 7, Maven 3, Ant 1.9</dd>
                            <dt> Techs</dt>
                            <dd> J2EE 6/Servlets/JSP, Spring 4, Spring Security, Apache Tiles 3, Hibernate 4, JavaScript
                                / JQuery 1.10
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" href="#collapseTwo"> Enter.ru</a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p>
                            Enter.ru is an e-commerce site with a 100k items. My team assisted them in building a
                            partner network and providing future partners (both individual and companies) with a set
                            of tools for publishing Enter.ru's inventory on partner sites. 5 different types of
                            client-side widgets (deployed as html snippet on 3-party sites) were implemented during this
                            project.
                        </p>
                        <h5><i class="fa fa-cogs"></i>Environment</h5>
                        <dl class="dl-horizontal">
                            <dt> Tools</dt>
                            <dd> MySQL, BitBucket, Jetty 7, Maven 3, Ant 1.9</dd>
                            <dt> Techs</dt>
                            <dd> 2EE/Servlets/JSP, Spring IOC, Spring security, Apache Tiles, Hibernate, JavaScript /
                                JQuery
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" href="#collapseThree"> Intercap </a>
                    </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p>
                            Intercap owns and deploys a U.S. Patented, state-of-the-art, artificial intelligence-based
                            energy monitoring, reporting and management system called “The Intelligent Use of
                            Energy” or IUE™. During this project my team added small features to the existing framework,
                            fixed existing bugs, provided project enhancement ideas.
                        </p>
                        <h5><i class="fa fa-cogs"></i>Environment</h5>
                        <dl class="dl-horizontal">
                            <dt> Tools</dt>
                            <dd> MS SQL, Postgres, SVN, Tomcat 7, Maven, Ant</dd>
                            <dt> Techs</dt>
                            <dd> J2EE/Servlets/JSP, Spring, Spring Security, Ibatis</dd>
                        </dl>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" href="#collapse4"> Datalogics/ECCS Account Management Tool </a>
                    </h4>
                </div>
                <div id="collapse4" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p>
                            Datalogics is the premiere Adobe partner for licensing PDF Toolkits to software
                            developers and provides end-to-end tools to publishers and developers to support
                            Adobe's rich eBook ecosystem.
                        </p>
                        <h5><i class="fa fa-cogs"></i>Environment</h5>
                        <dl class="dl-horizontal">
                            <dt> Tools</dt>
                            <dd>HSQLDB 2.2.9, Github, Tomcat 7, Maven 3, Ant 1.9</dd>
                            <dt> Techs</dt>
                            <dd> J2EE/Servlets/JSP, Spring, Spring Security, Hibernate, Jquery, Jquery Datagrid</dd>
                        </dl>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" href="#collapse5"> PeopleNet </a>
                    </h4>
                </div>
                <div id="collapse5" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p>
                            The system works with on-board computers on vehicles, collects information about cars
                            and drivers, analyzes the information and put the results to database. Also, the system
                            has GUI (web interface) which provides capability to control car paths and analysis of
                            trading logic, and displays the result in an easy-to-use form in browser.
                        </p>
                        <h5><i class="fa fa-cogs"></i>Environment</h5>
                        <dl class="dl-horizontal">
                            <dt> Tools</dt>
                            <dd>Liferay, Karaf, MSSQL 2008, Maven, Ant</dd>
                            <dt> Techs</dt>
                            <dd> J2EE/Servlets/JSP, Javascript, GWT, Hibernate, Spring</dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-md-3">
            <p class="lead date">
                August 2010 - May 2011
            </p>
        </div>
        <div class="col-md-9">
            <p class="lead">
                Senior Java Developer
            </p>
            <dl class="dl-horizontal jobdetails">
                <dt> Company</dt>
                <dd>Information Technology Alliance (ITA)</dd>
            </dl>
            <h4 class='hidden-xs'>Responsibilities</h4>
            <ul>
                <li> Performing design, development, legacy maintenance and bug fixing</li>
                <li> Executing code review and staff mentoring</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" href="#collapse6"> Standard Bank</a>
                    </h4>
                </div>
                <div id="collapse6" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p>
                            The Standard Bank of South Africa Limited is one of South Africa's largest financial
                            services groups. It operates in 32 countries around the world, including 19 in Africa.
                            Our team developed CRM Web Application for bank agents.
                        </p>
                        <ul>
                            <li> Performing UI development utilizing GWT</li>
                            <li> Managing team (up to 3 persons) – plan tracking, task estimation, mentoring</li>
                        </ul>
                        <h5><i class="fa fa-cogs"></i>Environment</h5>
                        <dl class="dl-horizontal">
                            <dt> Tools</dt>
                            <dd> Maven 2/3, Jira, Eclipse, SVN</dd>
                            <dt> Techs</dt>
                            <dd> Java, Javascript, GWT</dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-md-3">
            <p class="lead date">
                Jan 2008 - July 2010
            </p>
        </div>
        <div class="col-md-9">
            <p class="lead">
                Java Developer
            </p>
            <dl class="dl-horizontal jobdetails">
                <dt> Company</dt>
                <dd><a href="http://navagate.com" target="_blank">Navagate Inc.</a></dd>
            </dl>
            <h4 class='hidden-xs'>Responsibilities</h4>
            <ul>
                <li> Performing design, development, legacy maintenance and bug fixing;</li>
                <li> Executing code review and staff mentoring</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" href="#collapse7"> Agility™ 3.1 - 4.0 </a>
                    </h4>
                </div>
                <div id="collapse7" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p>
                            CRM Server Application for Insurance business.
                        </p>
                        <ul>
                            <li> Implemented JDBC-to-Hibernate and FormDesc-to-JSF transition</li>
                            <li> Fulfilled JSF prototyping & Integration</li>
                            <li> Executed customization and integration</li>
                            <li> Micromanagement of Team (up to 3 persons) – plan tracking, task estimation, mentoring
                            </li>
                        </ul>
                        <h5><i class="fa fa-cogs"></i>Environment</h5>
                        <dl class="dl-horizontal">
                            <dt> Tools</dt>
                            <dd>Maven 2, Jira, FishEye, Crucible, Servers: WebSphere, Apache Tomcat, Oracle 10g, MS SQL
                                2005
                            </dd>
                            <dt> Techs</dt>
                            <dd> Java 1.6, JSP, Servlets, Spring, Spring Webflow, JSF, RichFaces, Hibernate; AJAX,
                                DHTML, JavaScript, CSS; SQL, PL/SQL
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-md-3">
            <p class="lead date">
                June 2007 - Dec 2007
            </p>
        </div>
        <div class="col-md-9">
            <p class="lead">
                QA Engineer
            </p>
            <dl class="dl-horizontal jobdetails">
                <dt> Company</dt>
                <dd><a href="http://navagate.com" target="_blank">Navagate Inc.</a></dd>
            </dl>
            <h4 class='hidden-xs'>Responsibilities</h4>
            <ul>
                <li> Performing Smoke, Functional and Regression Testing</li>
                <li> Fulfilling Test Case Design and Update</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" href="#collapse8"> NY Life Party, NY Life Investments </a>
                    </h4>
                </div>
                <div id="collapse8" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p>
                            Customization of Agility™ - CRM Server Application for Insurance business.
                        </p>
                        <h5><i class="fa fa-cogs"></i>Environment</h5>
                        <dl class="dl-horizontal">
                            <dt> Tools</dt>
                            <dd> Lotus Notes</dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-md-12">
            <h2 class="category"><i class="fa fa-star"></i> Honors &amp; Awards</h2>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-md-3"><p class="lead date"> Apr. 2017 </p></div>
        <div class="col-md-9">
            <p class="lead"> AWS Certified SysOps Administrator – Associate</p>
            <dl class="dl-horizontal">
                <dt> Issuer</dt>
                <dd> Amazon Web Services</dd>
            </dl>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-md-3"><p class="lead date"> Mar. 2017 </p></div>
        <div class="col-md-9">
            <p class="lead"> AWS Certified Developer – Associate</p>
            <dl class="dl-horizontal">
                <dt> Issuer</dt>
                <dd> Amazon Web Services</dd>
            </dl>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-md-3"><p class="lead date"> Oct. 2016 </p></div>
        <div class="col-md-9">
            <p class="lead"> AWS Certified Solutions Architect - Associate</p>
            <dl class="dl-horizontal">
                <dt> Issuer</dt>
                <dd> Amazon Web Services</dd>
            </dl>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-md-3">
            <p class="lead date"> Apr. 2011 </p>
        </div>
        <div class="col-md-9">
            <p class="lead">
                <a href="https://www.youracclaim.com/badges/ec755c8b-49e2-4e0e-8029-fbd39d246866" target="_blank">
                    Oracle Certified Professional, Java EE 5 Web Component Developer</a></p>
            <dl class="dl-horizontal">
                <dt> Issuer</dt>
                <dd> Oracle</dd>
            </dl>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-md-3">
            <p class="lead date"> Oct. 2009 </p>
        </div>
        <div class="col-md-9">
            <p class="lead"> Sun Certified Java Programmer, Java SE 6 (SCJP) </p>
            <dl class="dl-horizontal">
                <dt> Issuer</dt>
                <dd> Sun Microsystems</dd>
            </dl>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-md-12">
            <h2 class="category"><i class="fa fa-bookmark"></i> Education</h2>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-md-3">
            <p class="lead ed-date">
                2006 - 2010
            </p>
        </div>
        <div class="col-md-9">
            <p class="lead">
                University of Informatics and Radioelectronics (BSUIR)
            </p>
            <dl class="dl-horizontal">
                <dt> Major</dt>
                <dd> Programming in Economics</dd>
            </dl>
        </div>
    </div>
    <hr/>
    <div class="row ed-minsk">
        <div class="col-md-3">
            <p class="lead ed-date">
                2003 - 2008
            </p>
        </div>
        <div class="col-md-9">
            <p class="lead">
                Minsk State Linguistic University
            </p>
            <dl class="dl-horizontal">
                <dt> Major</dt>
                <dd> Translating (German, English, Dutch)</dd>
            </dl>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-md-3">
            <p class="lead ed-date">
                Oct - Dec 2007
            </p>
        </div>
        <div class="col-md-9">
            <p class="lead">
                Java Training at Navagate Inc.
            </p>
            <dl class="dl-horizontal">
                <dt> Major</dt>
                <dd> Java (Java API, JDK, JVM), J2EE,
                    JavaBeans, JSP, Servlets, JDBC, Spring, Hibernate, OO Programming and Design (UML, OO
                    patterns (GoF), Sun Java Coding Conventions), Unit and Integration testing, Apache
                    Tomcat
                </dd>
            </dl>
            <p>
                During this training I participated in developing training server application “IT-Library”.
                This web application was intended to store relevant information about G2X books,
                magazines, video, audio etc. in a database and to provide an interface for user who can
                log in to application through browser, order library items, apply for new editions and
                manage personal settings like notifications, library news posting. My tasks were working
                out the project design, developing use case diagrams, implementing data storage and UI
                for ordering library items and applying for new editions. The training environment
                included Tomcat server, Ant, Intellij IDEA. Used technologies: Spring, JDBC, Hibernate, JSP,
                Servlets
            </p>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-md-12">
            <h2 class="category"><i class="fa fa-comment"></i> Language Skills</h2>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-md-12">
            <div ng-controller="LanguageCtrl">
                <md-slider-container>
                    <span>English</span>
                    <md-slider flex class="md-primary" min="0" max="100" ng-model="language.english" aria-label="english">
                    </md-slider>
                </md-slider-container>
                <md-slider-container>
                    <span>German</span>
                    <md-slider flex class="md-primary" min="0" max="100" ng-model="language.german" aria-label="german">
                    </md-slider>
                </md-slider-container>
                <md-slider-container>
                    <span>Dutch</span>
                    <md-slider flex class="md-primary" min="0" max="100" ng-model="language.dutch" aria-label="dutch">
                    </md-slider>
                </md-slider-container>
                <md-slider-container>
                    <span>Russian</span>
                    <md-slider flex class="md-primary" min="0" max="100" ng-model="language.russian" aria-label="russian">
                    </md-slider>
                </md-slider-container>
            </div>
        </div>

    </div>

</div>

<footer>
    <!--<small> With Best Wishes, EG</small>-->
    <br/>
    <br/>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<!--Bootstrap-->
<script src="https://netdna.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<!-- Angular Material requires Angular.js Libraries -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>

<!-- Angular Material Library -->
<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>

<!-- Resume bootstrap  -->
<script type="text/javascript">
    angular.module('ResumeApp', ['ngMaterial']).config(function ($mdThemingProvider) {
        $mdThemingProvider.theme('default')
            .primaryPalette('green')
            .accentPalette('orange');
    }).controller('LanguageCtrl', function ($scope) {

        $scope.language = {
            english: 93,
            german: 60,
            dutch: 40,
            russian: 99
        };

    });
</script>

</body>
</html>
